.write__container {
  padding: 8px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 720px;
  background-color: var(--bg-md-gray);
  z-index: 1000;

  & input {
    width: 100%;
    margin: 0;
    padding: 4px 1rem;
    border-radius: 6px;
    border: none;
    background-color: var(--message-color);
    color: var(--font-color);
    font-size: 1rem;
    outline: none;
  }

  & input::placeholder {
    color: var(--quinary-color);
  }
  & input:focus {
    outline: solid 1px var(--border-gray-light);
  }
}

.write__send {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--font-color);
}
hr {
  margin: 20px auto;
  border: 0;
  height: 2px;
  background-color: var(--quaternary-color);
}
