.navbar-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar {
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--font-color);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.nav-link:hover {
  background-color: var(--hover-color);
}

.nav-link.active {
  background-color: var(--primary-color);
  color: white;
}
