.contacts-container {
  flex: 1;
}
.contacts__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--font-color);
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
