.chat-page{
  /* position: relative; */

}
.chat__container{
  overflow-y: auto;
  scroll-behavior: smooth;
  /* margin-bottom: 70px; */
  height: calc(100vh - 170px);
}

.chat__container::-webkit-scrollbar {
  margin-left: 10px;
  width: 8px; /* Barra más delgada */
}

.chat__container::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.3); /* Pulgar semitransparente */
  border-radius: 10px;
}

.chat__container::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.6); /* Se vuelve más visible al pasar el mouse */
}
