.search {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 8px;
  padding: 0px 10px;

  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-radius: 10px;
  background-color: var(--font-color);
}

.search__input {
  padding: 10px ;
  margin: 0;
  border: none;
  width: 100%;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  color: var(--font-color);
  font-size: 1rem;
  outline: none;
  color: black;
}

.search__input::placeholder{
  color: var(--quinary-color);
}

.container{
  color: var(--quinary-color)
}

.search:focus-within{
  outline: 2px solid var(--primary-color);
}

